<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Teams</label>
    <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Barcelona - Juventus">
  </div>
  <div class="form-control">
    <label for="day">Result</label>
    <input type="text" name="day" [(ngModel)]="day" id="day" placeholder="3 - 1">
  </div>
  <div class="form-control form-control-check">
    <label for="text">Penalties</label>
    <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder">
  </div>
  <input type="submit" value="Save Result" class="btn btn-block">
</form>

